{{! Comment Form}}
<div class="row">
    <div class="text-center mx-auto col-lg-10 col md-8 col-sm-7">
        <form id="comment_form">
            <label for="comment_form"><strong>Comment</strong></label>
                <div class="form-group">
                    {{! Text Field For User's Comment }}
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                    <div class="mt-2">
                        {{! Submit Comment Button }}
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
        </form>
    </div>
</div>