{{! Edit New Blog Post }}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto text-left">

            <form class="edit_post_form">

                {{! Title Entry }}
                <div class="mt-5 mb-3">
                    <input name="blog_post_title" type="text" value="{{blogPost.title}}"/>
                </div>

                {{! Body Entry }}
                <div class="mb-3">
                    <label class="for-label text-light" for="blog_post_text">Edit Your Blog Post:</label>
                    <textarea name="blog_post_text" class="form-control" rows="10" id="blog_post_text">{{blogPost.description}}</textarea>
                </div>

                {{! Submit Button }}
                <div class="text-center">
                    <button type="submit" class="text-center mt-3 btn btn-dark btn-lg btn-block">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/editBlogPost.js"></script>